.page-footer {
  background-color: rgb(27, 53, 73) !important;
}

#sMedia {
  width: 40px;
  padding: 5px;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  #flex {
    display: flex !important;
  }
}
