#nav {
  background-color: transparent;
  color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 10px;
}

#nav a {
  color: black;
  font-size: 1.5rem;
}

#nav a:hover {
  color: rgb(70, 38, 16);
}

#logo {
  padding: 10px;
}
#logoImg {
  width: 180px;
}

#nav.scroll {
  background-color: white;
  height: 85px;
}
/* #nav.scroll a {
  color: white;
} */

#nav.scroll #logo {
  /* background-color: white; */
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  #nav {
    height: 85px;
  }
}
